/* Modificaciones Generales*/

* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

body {

    min-height: 100vh;
    background-attachment: fixed;
}

header {
    min-height: 20vh;
    background-color: rgb(240, 248, 249);
}

main {
    min-height: 70vh;
    background-color: rgb(240, 248, 249);

}

.card {
    width: 20rem;
}

footer {
    min-height: 10vh;

}

table {
    border: 3px solid;


}

td,
th {
    border: 2px solid;
    text-align: justify;
    width: 100px;
    height: 50px;

}