/* Modificaciones Generales*/

* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

body {

    min-height: 100vh;
    background-attachment: fixed;
}

header {
    min-height: 20vh;
    background-color: rgb(240, 248, 249);
}

main {
    min-height: 70vh;
    background-color: rgb(240, 248, 249);

}

footer {
    min-height: 10vh;

}